.navbar {
  cursor: pointer;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2f0743,
    #41295a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2f0743,
    #41295a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 10px;
  svg {
    fill: #83a4d4;
  }
}

.navbar-icons {
  width: 35px;
  height: 35px;
  &:hover {
    transition: all ease-in-out 0.4s;
    transform: scale(1.15);
  }
}

@media (prefers-color-scheme: light) {
  .navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #b6fbff,
      #83a4d4
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #b6fbff,
      #83a4d4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
